* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7d5c65;
    font-family: 'Reenie Beanie', cursive, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    transform-style: preserve-3d;
    background-color: whitesmoke;
    min-height: 80vh;
    width: 30rem;
    border-radius: 30px;
    padding: 0 1rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5), 0 0 50px rgba(0, 0, 0, 0.5);
}

.top {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.top img {
    width: 20rem;
    z-index: 1;
    transition: all 0.75s ease-in-out;
}

.circle {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(229, 190, 237), rgb(124, 144, 219));
    position: absolute;
}

.citation {
    color: #413d52;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    transition: all 0.75s ease-in-out;
}

.author {
    color: #463439;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: end;
    transition: all 0.75s ease-in-out;
}

.button {
    background: linear-gradient(to right, rgb(229, 190, 237), rgb(124, 144, 219));
    font-family: 'Reenie Beanie', cursive;
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 25px;
    margin-bottom: 1rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.75s ease-in-out;
}

.button:hover {
    background: linear-gradient(to right, rgb(124, 144, 219), rgb(229, 190, 237));
}